<footer class="footer">
    <div class="copyright">
        <p>
            © 2024
            <a href="https://themeforest.net/user/quixlab" target="_blank" rel="noopener noreferrer" class="text-warning">Quixlab</a>
            Tüm hakları saklıdır.
        </p>
    </div>
</footer>
