@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_HeadPartial") <!-- Sayfanın başlık ve meta bilgilerini içeren kısım -->

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Yüklenme Animasyonu Başlangıç -->
        @await Component.InvokeAsync("_SpinnerPartial")
        <!-- Yüklenme Animasyonu Bitiş -->

        <!-- Üst Menü (Navbar) Başlangıç -->
        @await Component.InvokeAsync("_NavbarPartial")
        <!-- Üst Menü (Navbar) Bitiş

        <!-- Slider Başlangıç -->
        @await Component.InvokeAsync("_SliderPartial")
        <!-- Slider Bitiş -->

        <!-- Rezervasyon Formu Başlangıç -->
        @await Component.InvokeAsync("_ReservationPartial")
        <!-- Rezervasyon Formu Bitiş -->

        <!-- Hakkımızda Bölümü Başlangıç -->
        @await Component.InvokeAsync("_AboutUsPartial")
        <!-- Hakkımızda Bölümü Bitiş -->

        <!-- Odalarımız Bölümü Başlangıç -->
        @await Component.InvokeAsync("_OurRoomsPartial")
        <!-- Odalarımız Bölümü Bitiş -->

        <!-- Video Tanıtım Bölümü Başlangıç -->
        @await Component.InvokeAsync("_TrailerPartial")
        <!-- Video Tanıtım Bölümü Bitiş -->

        <!-- Hizmetlerimiz Bölümü Başlangıç -->
        @await Component.InvokeAsync("_ServicePartial")
        <!-- Hizmetlerimiz Bölümü Bitiş -->

        <!-- Müşteri Yorumları Bölümü Başlangıç -->
        @await Component.InvokeAsync("_TestimonialPartial")
        <!-- Müşteri Yorumları Bölümü Bitiş -->

        <!-- Ekip Tanıtım Bölümü Başlangıç -->
        @await Component.InvokeAsync("_TeamPartial")
        <!-- Ekip Tanıtım Bölümü Bitiş -->

        <!-- Bülten Aboneliği Bölümü Başlangıç -->
        @await Html.PartialAsync("_SubscribePartial")
        <!-- Bülten Aboneliği Bölümü Bitiş

        <!-- Alt Bilgi (Footer) Başlangıç -->
        @await Component.InvokeAsync("_FooterPartial")
        <!-- Alt Bilgi (Footer) Bitiş 

        <!-- Sayfanın Üstüne Dön Butonu -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
            <i class="bi bi-arrow-up"></i>
        </a>
    </div>

    <!-- JavaScript Kütüphaneleri -->
    @await Component.InvokeAsync("_ScriptsPartial")

</body>

</html>
