@model AddStaffViewModel
@{
    ViewData["Title"] = "AddStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container mt-1">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Personel Ekle</h4>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="Name" class="form-label">Personel Adı</label>
                    <input type="text" asp-for="Name" class="form-control" id="Name" placeholder="Adı girin" />
                </div>
                <div class="mb-3">
                    <label for="Title" class="form-label">Personel Ünvanı</label>
                    <input type="text" asp-for="Title" class="form-control" id="Title" placeholder="Ünvan girin" />
                </div>
                <div class="mb-3">
                    <label for="SocialMedia1" class="form-label">Sosyal Medya 1</label>
                    <input type="text" asp-for="SocialMedia1" class="form-control" id="SocialMedia1" placeholder="Sosyal medya bağlantısı girin" />
                </div>
                <div class="mb-3">
                    <label for="SocialMedia2" class="form-label">Sosyal Medya 2</label>
                    <input type="text" asp-for="SocialMedia2" class="form-control" id="SocialMedia2" placeholder="Sosyal medya bağlantısı girin" />
                </div>
                <div class="mb-3">
                    <label for="SocialMedia3" class="form-label">Sosyal Medya 3</label>
                    <input type="text" asp-for="SocialMedia3" class="form-control" id="SocialMedia3" placeholder="Sosyal medya bağlantısı girin" />
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-success btn-lg rounded-pill">Personeli Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>
